<h1>Posts</h1>

<ul>
  <% @posts.present? && @posts.each do |p| %>
    <li>Title: <%= p.title %></li>
    <li>Content: <%= p.content %></li>
    <br>
    <li>Cover: <%= image_tag p.image_url %></li>
    <li>Created at: <%= p.created_at.strftime("%F") %></li>
    <br>
  <% end %>
</ul>
